*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


/* ---Start Header Section--- */

header{
    width: 100%;
    background-color: rgba(23,23,0,0.15);
    position: absolute;
    top: 0;
    padding: 20px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .container{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
}

header a{
    text-decoration: none;
    margin-right: 100px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
}

/* ---End Header Section--- */

.banner-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(26, 218, 231, 0.1),rgb(147, 233, 193)),url("images/banner-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.banner-container .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.left-section{

    width: 600px;
    align-self: flex-start;
}

.left-section h1{
    margin: 0px;
    color: white;
    font-size: 40px;
}

.left-section p{
    margin: 0px;
    letter-spacing: 1px;
    color: rgba(224, 211, 26, 0.899);
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
}

.left-section button{
    color: white;
    background-color: rgb(135, 230, 233);
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: 600px;
    cursor: pointer;
}


/* ---Start Form Styling--- */

.right-section{
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 0;
    box-shadow: 0 5px 6px rgba(0,0,0,0.219);
}

.right-section h4{

    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(136,136,136);
}

.input-group{
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* ---End Form Styling--- */ 

.input-group label{
    color: rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top:10px;
    transition: 0.5s ease-in-out;
}

.input-group input{
    border:none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    color: blue;
    border-bottom: 1px solid #c9c9c98a;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label{
    color: rgb(135, 230, 233);
    top:-10px;
    font-size: 12px;
}

.submit-button{
    background-color:  rgb(135, 230, 233);
    color: white;
    border:none;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
}

.submit-button:hover{
    box-shadow: 0 3px 6px silver;
}

.submit-section{
    text-align: center;
}

.section-two{
    display:flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.image-container{

    width:100%;
    height:350px;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.card-container{
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 5px 26px;
    overflow: hidden;
    text-align: center;
}

.image-container img:hover{
    transform: scale(1.1) rotate(-5deg);
}


footer{
    text-align: center;
    color:rgb(197, 189, 189);
    padding:15px;
    background-color: rgb(81, 107, 106);
}

footer span{
    color:rgb(169, 174, 175);
    font-weight: bold;
}